/*for page s.p.a. syyling*/
.navbar {
    margin-bottom: 0;
}

.navbar-brand {
    font-family: "Pacifico";
}

.jumbotron .container h1 {
    font-family: "Pacifico";
    font-size: 4em;
}

table, td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;

}
table, td .odd {
    background-color:#f1f1f1;
}

/* table, td .even {get default background-color}