/*for page s.p.a. syyling*/
.navbar {
    margin-bottom: 0;
}

.navbar-brand {
    font-family: "Pacifico";
}

.jumbotron .container h1 {
    font-family: "Pacifico";
    font-size: 4em;
}

table, td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 22px;
  font-size: larger;
  font-style: normal;

}

table {
    margin:10px;
}


tr:nth-child(even) {
    background-color: #efefef;
}
 /*table, td .odd {get default background-color}*/

.target-item, .vision-item, .discussion-item {
    cursor: pointer;
}


/* .vision-item {
    cursor: pointer;
} */

/* .addVision {
    display: block;
} */

.modal-dialog {
    width: 560px;
    height: 720px;
  }

  /* Make the body 100% of your page, with a min-height of 100% too. */

  main {
    /* height:100%; */
    min-height: 100%;   
  }

  
  .footer-bottom {
    width: 100%;
    z-index: -10;
    height: 1em;
    position: fixed; /*changed from relative */
    bottom: 3%; /*changed from 0 */
	background: #E3E3E3;
	border-top: 1px solid #DDDDDD;
	padding-top: 0.2%;
	padding-bottom: 0.2%;
}
.panel-footer {
    width: 100%    
}

/* Carousel styling */

.carousel-caption > p {

    font-size: small
}
.enlarge {
    transform: scale (2,2);
    transform-origin: 0 0;
}

img.resize {
    width:540px; /* you can use % */
    height: auto;
}


/* #slides_control > div{
    height: 200px;
  }
  #slides_control >img{
    margin:auto;
    width: 400px;
  }
  #slides_control {
    position:absolute;
    width: 400px;
    left:50%;
    top:20px;
   margin-left:-200px;
  } */