/*for page s.p.a. syyling*/
.navbar {
    margin-bottom: 0;
}

.navbar-brand {
    font-family: "Pacifico";
}

.jumbotron .container h1 {
    font-family: "Pacifico";
    font-size: 4em;
}

table, td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 22px;
  font-size: larger;
  font-style: normal;

}

table {
    margin:10px;
}


tr:nth-child(even) {
    background-color: #efefef;
}
 /*table, td .odd {get default background-color}*/

.target-item {
    cursor: pointer;
}
