<!DOCTYPE html>
<html lang="en" ng-app="coachApp">

<head>
    <title>בס"ד. אימון באמונה</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--AngularJS-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
    <!--Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--UI Bootstrap-->
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">

    <!--App Stuff-->
    <script src="app/app.js"></script>
    <script src="app/services/userSrvc.js"></script>
    <script src="app/shared/navCtrl.js"></script>
    <script src="app/components/home/homeCtrl.js"></script>
    <script src="app/services/visionSrvc.js"></script>
    <script src="app/services/targetSrvc.js"></script>
    <script src="app/components/vision/newVision/newVision.js"></script>
    <script src="app/components/vision/viewVision/viewVision.js"></script>
    <script src="app/components/vision/updtVision/updtVision.js"></script>

    <script src="app/components/target/newTarget/newTarget.js"></script>
    <script src="app/components/target/viewTarget/viewTarget.js"></script>
    <script src="app/components/target/updtTarget/updtTarget.js"></script>

    <script src="app/components/target/delAssure/delAssure.js"></script>

    <script src="app/components/login/login.js"></script>
    <link rel="stylesheet" href="https://cdn.rawgit.com/morteza/bootstrap-rtl/v3.3.4/dist/css/bootstrap-rtl.min.css">
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-default" role="navigation" ng-controller="NavCtrl">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">אימון עצמי וקהילתי</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li ng-show="isLoggedIn()"><a href="#!/targets">מטרות</a></li>
                <li ng-show="isLoggedIn()"><a href="#!/visions">חזון</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-left">
                <li ng-hide="isLoggedIn()"><a class="btn btn-default btn-lg" ng-click="login()">כניסה</a></li>
                <li ng-show="isLoggedIn()"><a class="btn btn-default btn-lg" ng-click="logout()">יציאה</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>

    <ng-view></ng-view>

    <div class="footer-bottom text-center">
        <div class="container">
            <p class="panel-footer"> אימון באמונה --- גרסא ראשונית </p>
        </div>
    </div>
</body>

</html>