<div class="container">
    <div class="page-header">
        <h1>פורום המתאמן {{greetName}}</h1>
    </div>
    <form>
        <input type="text" name="search" id="search" placeholder="חפש שם דיון" ng-model="filterDiscussion" /> מיין לפי :
        <select ng-model="orderForum" name="sort" id="sort">
          <option value="">כולם</option>
          <option value="section">מטרה-חזון</option>
          
          <option value="category">קטגורי'א</option>

          <option value="author">נפתח על ידי</option>
          <option value="replyIndex">מס. משובים</option>
          <!-- <option value="lastPost">הודעה אחרונה</option> -->
          
        </select>
    </form>

    <table class="table table-condensed">
        <tr>
            <th>שם הדיון</th>
            <th>מטרה-חזון</th>
            <th>קטגוריה</th>
            <th>נפתח על ידי  </th>
            <th> הדיון מ:</th>
            <th>משובים</th>
            <!-- <th>הודעה אחרונה</th> -->
        </tr>
        <tr ng-repeat="discussion in discussionsArr | filter:filterByDiscussionName | orderBy: orderForum" ng-click="openDetails($index)" class="discussion-item">
            <td>{{discussion.name}}</td>
            <td>{{discussion.section}}</td>
            <td>{{discussion.category}}</td>
            <td>{{discussion.author}}</td>
            <td>{{discussion.startDate}}</td>
            <td>{{discussion.replyIndex}}</td>
            <!-- <td>{{discussion.lastPost}}</td> -->
        </tr>
    </table>

    <p>
        <a class="btn btn-primary btn-lg" ng-click="addDiscussion()"> הוסף נושא חדש לדיון </a>
    </p>

    <h1>תכולת ה- forum</h1>
    <p> סך דיונים: {{getTotalDiscussions()}}</p>
    <p> מתוכן אודות מטרות: {{getTargetDiscussions()}}</p>
</div>