<div class="container">
    <div class="page-header">
        <h1>פורום המתאמן {{greetName}}</h1>
    </div>
    <form>
        <input type="text" name="search" id="search" placeholder="חפש שם דיון" ng-model="filterDiscussion" /> מיין לפי :
        <select ng-model="orderForum" name="sort" id="sort">
          <option value="">כולם</option>
          <option value="section">מטרה-חזון</option>
          
          <option value="category">קטגורי'א</option>

          <option value="author">נפתח על ידי</option>
          <option value="replies">מס. משובים</option>
          <!-- <option value="lastPost">הודעה אחרונה</option> -->
          
        </select>
    </form>

    <table class="oddEvenTable table table-condensed">
        <tr>
            <th>שם הדיון</th>
            <th>קטגוריה</th>
            <th>נפתח על ידי  </th>
            <th>משובים</th>
            <th>הודעה אחרונה</th>
        </tr>
        <tr ng-repeat="discussion in forumArr | filter:filterByDiscussionName | orderBy: orderForum" ng-click="openDetails($index)" class="discussion-item">
            <td class="odd" ng-if="$odd">{{discussion.name}}</td>
            <td class="even" ng-if="$even">{{discussion.name}}</td>
            <td class="odd" ng-if="$odd">{{discussion.category}}</td>
            <td class="even" ng-if="$even">{{discussion.category}}</td>
            <td class="odd" ng-if="$odd">{{discussion.author}}</td>
            <td class="even" ng-if="$even">{{discussion.author}}</td>
            <td class="odd" ng-if="$odd">{{discussion(replyIndex)}}</td>
            <td class="even" ng-if="$even">{{discussion(replyIndex)}}</td>
            <td class="odd" ng-if="$odd">{{discussion.lastPost}}</td>
            <td class="even" ng-if="$even">{{discussion.lastPost}}</td>

        </tr>
    </table>

    <p>
        <a class="btn btn-primary btn-lg" ng-click="addDiscussion()"> הוסף נושא חדש לדיון </a>
    </p>

    <h1>תכולת ה- forum</h1>
    <p> סך דיונים: {{getTotalDiscussion()}}</p>
    <p> מתוכן אודות מטרות: {{getTargetsdiscussion()}}</p>
</div>